body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/*Header*/
#Cw-grupal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #01dbf8bd;
  color: white;
}

.logo img{
  max-width: 100px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  margin-left: 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*Main Banner*/
.banner{
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#bgVideo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: rgb(4, 201, 250);
  text-shadow: 2px 2px 4px rgba(0, 0 , 0, 0.7);
}

.banner-content h1{
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner-content p{
  font-size: 1.5rem;
}

/*Main Noticias*/
.noticias{
  padding: 50px 20px;
  text-align: center;
}

.noticias h2{
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.noticia{
  margin-bottom: 20px;
}

.noticia h3{
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.noticia p{
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.noticia a{
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/*Main Seccion Carrusel*/
.carrusel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.titulo-carrusel {
  font-size: 3rem;
  margin: 20px 0;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

.carrusel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
}

.slide:hover {
  transform: scale(1.05);
}

.slide-content {
  display: flex;
  align-items: center;
}

.img-evento {
  width: 45%;
  height: auto;
  border-radius: 10px;
}

.info-evento {
  width: 40%;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*Main Sobre-Crystal*/
main .Sobre-Crystal {
  padding: 30px 0 50px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.group-history{
  display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1s ease, transform 1s ease;
}

.group-history.show {
  opacity: 1; 
  transform: translateY(0); 
}

.logo img {
  width: 150px; 
  height: auto;
  border-radius: 100%; 
}

.story {
  max-width: 600px;
}

.story h2 {
  margin-top: 0;
  margin-bottom: 15px;
  display: inline-block;
  text-align: center; 
  height: 30px;
  margin-right: 5px;
}

.story p {
  line-height: 1.6;
  padding: 0px 0px 30px 15px;
  text-align: justify;
  font-weight: 200;
}

/*Main Integrantes de crystal*/
#integrantes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 20px; 
  padding: 20px;
}

.integrante {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.integrante:hover {
  transform: scale(1.05);
}

.foto-integrante {
  width: 100%;
  height: auto;   
  border-radius: 10%;
}

.info-integrante {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #000; 
}

.integrante.show-info .info-integrante {
  display: block;
}


/*footer*/
.final-pagina {
  background: #03529cdc;
  padding: 60px 0 30px 0;
  overflow: hidden;
  text-align: center;
  height: 100%;
}

.final-pagina .contenedor-footer {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.final-pagina .contenedor-footer .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-pagina .contenedor-footer .box figure img {
  width: 250px;
  border-radius: 30%;
}

.final-pagina .contenedor-footer .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.final-pagina .contenedor-footer .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.final-pagina .contenedor-footer .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.final-pagina .contenedor-footer .red-social a:hover {
  color: aqua;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .final-pagina .contenedor-footer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
